:root {
  color-scheme: light dark;
}

body {
  color: black;
  background-color: black;
}
.chartContainer{
  width: 250px;
  height: 250px;
  position:absolute;
  top: 55%;
  left:80%;
}

.chartContainer canvas {
  display: block;
}