.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 10px;
}
/* .container div {

} */

.container .chartContainer{
  background-color: black;
  border: 1px solid white;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  width: 250px;
  height: 250px;

  /* bottom: 0px;
  right: 0px; */
  /* color:black;
  background-color: black; */
}

.container .chartContainer:hover{
  background-color:#3b3b3b;
  text-decoration:none;
  color:#FFFFFF;
  /* bottom: 0px;
  right: 0px; */
  /* color:black;
  background-color: black; */
}
.chart2Container{
  width: 250px;
  height: 250px;
  position:absolute;
  /* top: 0px;
  right: 0px; */
  /* color:black;
  background-color: black; */
}
